li {
font-size: 102%;
}

ul {
color: lightgrey;
}

<!-- This starts the slowly expanding text, so it's gonna be a bit compressed -->
@media screen and (max-width:1600px) {}

@media screen and (max-width:1380px) {
body {
background-color: tan; 
}
a {
font-size:215%;
}
h1 {
font-size:860%
}
a:link {
color: green;
}
a:visited {
color: darkgreen;
}
a:hover {
color: red
}
}

@media screen and (max-width:1350px) {
body {
background-color: orange; 
}
a {
font-size:210%;
}
h1 {
font-size:860%
}
a:link {
color: lightblue;
}
a:visited {
color: cyan;
}
a:hover {
color: red
}
}

@media screen and (max-width:1320px) {
body {
background-color: tan; 
}
a {
font-size:205%;
}
h1 {
font-size:840%
}
a:link {
color: green;
}
a:visited {
color: darkgreen;
}
a:hover {
color: red
}
}

@media screen and (max-width:1290px) {
body {
background-color: orange; 
}
a {
font-size:200%;
}
h1 {
font-size:820%
}
a:link {
color: lightblue;
}
a:visited {
color: cyan;
}
a:hover {
color: red
}
}

@media screen and (max-width:1260px) {
a {
font-size:195%;
}
h1 {
font-size:800%
}
}

@media screen and (max-width:1230px) {
a {
font-size:190%;
}
h1 {
font-size:780%
}
}

@media screen and (max-width:1200px) {
a {
font-size:185%;
}
h1 {
font-size:760%
}
}

@media screen and (max-width:1170px) {
a {
font-size:180%;
}
h1 {
font-size:740%
}
}

@media screen and (max-width:1140px) {
a {
font-size:175%;
}
h1 {
font-size:720%
}
}

@media screen and (max-width:1110px) {
body {
background-color: tan; 
}
a {
font-size:170%;
}
h1 {
font-size:700%
}
}

@media screen and (max-width:1080px) {
body {
background-color: orange; 
}
a {
font-size:165%;
}
h1 {
font-size:680%
}
}

@media screen and (max-width:1050px) {
a {
font-size:160%;
}
h1 {
font-size:660%
}
}

@media screen and (max-width:1020px) {
a {
font-size:155%;
}
h1 {
font-size:640%
}
}

@media screen and (max-width:990px) {
a {
font-size:150%;
}
h1 {
font-size:620%
}
}

@media screen and (max-width:960px) {
a {
font-size:145%;
}
h1 {
font-size:600%
}
}

@media screen and (max-width:930px) {
a {
font-size:140%;
}
h1 {
font-size:580%
}
}

@media screen and (max-width:900px) {
a {
font-size:135%;
}
h1 {
font-size:560%
}
}

@media screen and (max-width:870px) {
a {
font-size:130%;
}
h1 {
font-size:540%
}
}

@media screen and (max-width:840px) {
a {
font-size:125%;
}
h1 {
font-size:520%
}
}

@media screen and (max-width:810px) {
a {
font-size:120%;
}
h1 {
font-size:500%
}
}

@media screen and (max-width:780px) {
a {
font-size:115%;
}
h1 {
font-size:480%
}
}

@media screen and (max-width:750px) {
a {
font-size:110%;
}
h1 {
font-size:460%
}
}

@media screen and (max-width:720px) {
a {
font-size:105%;
}
h1 {
font-size:440%
}
}

@media screen and (max-width:690px) {
a {
font-size:100%;
}
h1 {
font-size:420%
}
}

@media screen and (max-width:660px) {
a {
font-size:95%;
}
h1 {
font-size:400%
}
}

@media screen and (max-width:630px) {
a {
font-size:90%;
}
h1 {
font-size:380%
}
}

@media screen and (max-width:600px) {
a {
font-size:85%;
}
h1 {
font-size:360%
}
}

@media screen and (max-width:570px) {
a {
font-size:80%;
}
h1 {
font-size:340%
}
}

@media screen and (max-width:540px) {
a {
font-size:75%;
}
h1 {
font-size:330%
}
}

@media screen and (max-width:510px) {
body{
background-color: tan;
}
a {
font-size:74%;
}
h1 {
font-size:320%
}
a:link {
color: green;
}
a:visited {
color: darkgreen;
}
a:hover {
color: red
}
}
